h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}


.file-input {
  display: flex;
  justify-content: space-between;
  background-color: skyblue; 
  color: #fff;
  padding: 10px 15px; 
  border: 2px solid rgb(255, 25, 197);
  border-radius: 5px;
  border-bottom: none;
}

.file-input a {
  text-decoration: none;
  color: rgb(238, 240, 242);
}

a:focus {
  outline: none; 
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6); 
}

.file-input:hover {
  background-color: hsl(211, 100%, 35%);
}

.file-input:focus {
  outline: none; 
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.table-container {
  overflow-x: auto;
}

.table {
  /* background-color: black; */
  border: 2px solid rgb(255, 25, 197);
  border-spacing: 8px;
  width: 100%;
}

th {
  background-color: skyblue;
  color: white;
  padding: 8px;
  text-align: center;
}

tr {
  background-color: lightgray;
  padding: 8px;
  text-align: center;
}

tr:nth-child(2n) {
  background-color: rgb(145, 145, 145);
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .table {
    border: none;
  }

  .file-input {
    flex-direction: column;
  }

  .th,
  .tr {
    display: block;
    border: 1px solid rgb(255, 25, 197); /* Add borders to each cell */
    margin-bottom: 8px; /* Space between the rows */
  }
}