.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.6);
  clip-path: circle(10% at 50% 0);
  transition: all 2s ease;
  z-index: -1;
  pointer-events: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
  text-align: center;
  color: white;
}

.heading:hover .effect {
  clip-path: circle(30%);
}

.file-input {
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid rgb(255, 25, 197);
  border-radius: 5px;
  border-bottom: none;
}

.file-input a {
  text-decoration: none;
  color: rgb(238, 240, 242);
}

a:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.file-input:hover {
  background-color: hsl(211, 100%, 35%);
}

.file-input:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.table-container {
  overflow-x: auto;
  margin-bottom: 66px;
}

.table {
  border: 2px solid rgb(255, 25, 197);
  /* border-radius: 5px; */
  /* border-spacing: 8px; */
  width: 100%;
}

th {
  background-color: skyblue;
  color: white;
  padding: 8px;
  text-align: center;
}

tr {
  background-color: lightgray;
  padding: 8px;
  text-align: center;
}

tr:nth-child(2n) {
  background-color: rgb(145, 145, 145);
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .table {
    border: none;
  }

  .file-input {
    flex-direction: column;
  }

  .th,
  .tr {
    display: block;
    border: 1px solid rgb(255, 25, 197); /* Add borders to each cell */
    margin-bottom: 8px; /* Space between the rows */
  }
}

.main-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.main-footer a {
  height: 50px;
  text-decoration: none;
}
.main-footer img {
  height: 100%;
  vertical-align: middle;
}

.list-footer {
  list-style-type: none;
}

.howitworks {
  position: relative;
}

.howitworks:hover::before {
  content: "Email: dimitargegov@gmail.com";
  position: absolute;
  top: -15px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: block;
  opacity: 0.9;
  z-index: 9999;
}
