.table-container {
  overflow-x: auto;
}

.table {
  border: 2px solid skyblue;
  border-spacing: 8px;
  width: 100%;
}

th {
  background-color: skyblue;
  color: white;
  padding: 8px;
  text-align: center;
}

tr {
  background-color: lightgray;
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .table {
    border: none;
  }

  .th,
  .tr {
    display: block;
    border: 1px solid skyblue; /* Add borders to each cell */
    margin-bottom: 8px; /* Space between the rows */
  }
}